<% @title = "User page" %>
<div class="row">
  <div class="span9">
    <h3>My events</h3>
    <% if @user.events.any? %>
      <ol class="events">
        <% @user.events.each do |event| %>
          <li>
            <h5><%= event.tag %></h1>
            <p><small><%= event.start_date.strftime("%A, %b %e") %>, <%= event.start_time.strftime("%l:%M %P") %> - <%= event.end_time.strftime("%l:%M %P") %>, <%= event.location %> </small></p>
            <%= link_to "edit", edit_event_path(event) %> | 
            <%= link_to "delete", event, method: :delete, data: { confirm: "You sure?" } %>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>