<% @title = "Edit event" %>
<div class="row">
<aside class="span4">
  <section>
    <h3>Update your event</h3>
  </section>
  <section>

    <%= form_for(@event) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :tag, "Listing" %>
    <%= f.text_field :tag %>

    <%= f.label :start_date, "Date" %>
    <%= f.text_field :start_date, id: "datepicker", :value => @event.start_date.strftime('%Y-%m-%d') %>

    <%= f.label :start_time, "Start time" %>
    <%= f.datetime_field :start_time, id: "start_time", :value => @event.start_time.strftime('%I: %M %p') %>

    <%= f.label :end_time, "End time" %>
    <%= f.datetime_field :end_time, id: "end_time", :value => @event.end_time.strftime('%I: %M %p') %>

    <%= f.label :content, "Description" %>
    <%= f.text_area :content %>

    <%= f.label :location, "Location" %>
    <%= f.text_field :location %>

    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>

    <% end %> 
  </section>
</aside>
</div>

<script>

  $('#datepicker').datepicker({
    autoclose: true,
    format: 'yyyy-mm-dd',
    startDate: '0'
  });

  $('#start_time').timepicker({
    template: false,
    showInputs: false,
    minuteStep: 1
  });

  $('#end_time').timepicker({
    template: false,
    showInputs: false,
    minuteStep: 1
  });

</script>
