<% @title = "Events" %>
<ul data-role="listview" data-filter="true" data-inset="true">
	<% @events_mod = listview(@events) %>
	<% @events_mod.each do |arr| %>

		<li data-role="list-divider"><%= arr.first.start_date.strftime("%A, %b %e") %><span class="ui-li-count"><%= arr.size %></span></li>

		<% arr.each do |event| %>
			<li>
				<%= link_to event_path(event) do %>
  					<h2 style="text-align:left"><%= event.tag %></h2>
    				<p class=""><%= event.start_time.strftime("%l:%M %P") %> - <%= event.end_time.strftime("%l:%M %P") %></p>
    				<p class=""><%= event.location %></p>
				<% end %>
    		</li>
		<% end %>

    <% end %>
</ul>