<% @title = "HMS Events" %>
<div class="row" style="margin-left:2%; margin-right:2%; margin-top:10px">

    <% if @events.count == 0 %>
        <aside class="span9">
            <p>There are no upcoming events today.</p>
        </aside>
    
    <% else %>

    	<aside class="span9">

    		<div class="col-md-3">
                <form action="#" method="get">
                
                    <div class="input-group">
      					<span class="input-group-addon"><i class="icon-search"></i></span>
      					<input type="text" id="system-search" name="q" class="form-control" placeholder="Filter">
    				</div>

                </form>
            </div>

            

    	  	<table class="table table-list-search">
    		    <thead>
    		        <tr>
    		            <th>Date</th>
    		            <th>Time</th>
    		            <th>Listing</th>
    		        </tr>
    		    </thead>
    		    <tbody>
    		        <% @events.each do |event| %>
    		        	<% if check(event) %>
    			        	<tr>		
    				            <td><font color='#9e9e9e'><%= event.start_date.strftime("%A, %b %e") %></font></td>
    				            <td><font color='#9e9e9e'><%= event.start_time.strftime("%l:%M %P") %> - <%= event.end_time.strftime("%l:%M %P") %></font></td>
    				            <td><%= link_to event.tag, event_path(event), {:style=>'color:#9e9e9e'}%></td>
    				        </tr>
    				    <% else %>
    				    	<% if day(event) %>
    					    	<tr>		 
    					            <td><%= event.start_date.strftime("%A, %b %e") %></td>
    					            <td><%= event.start_time.strftime("%l:%M %P") %> - <%= event.end_time.strftime("%l:%M %P") %></td>
    					            <td><%= link_to event.tag, event_path(event) %></td>
    					        </tr>
    					    <% else %>
    					    	<tr>		 
    					            <td><%= event.start_date.strftime("%A, %b %e") %></td>
    					            <td><%= event.start_time.strftime("%l:%M %P") %> - <%= event.end_time.strftime("%l:%M %P") %></td>
    					            <td><%= link_to event.tag, event_path(event) %></td>
    					        </tr>
    					    <% end %>
    				    <% end %>
    		        <% end %>
    		    </tbody>
    		</table>
      	</aside>
    <% end %>
</div>

<script>
$(document).ready(function() {
    var activeSystemClass = $('.list-group-item.active');

    //something is entered in search form
    $('#system-search').keyup( function() {
       var that = this;
        // affect all table rows on in systems table
        var tableBody = $('.table-list-search tbody');
        var tableRowsClass = $('.table-list-search tbody tr');
        $('.search-sf').remove();
        tableRowsClass.each( function(i, val) {
        
            //Lower text for case insensitive
            var rowText = $(val).text().toLowerCase();
            var inputText = $(that).val().toLowerCase();
            if(inputText != '')
            {
                $('.search-query-sf').remove();
                tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                    + $(that).val()
                    + '"</strong></td></tr>');
            }
            else
            {
                $('.search-query-sf').remove();
            }

            if( rowText.indexOf( inputText ) == -1 )
            {
                //hide rows
                tableRowsClass.eq(i).hide();
                
            }
            else
            {
                $('.search-sf').remove();
                tableRowsClass.eq(i).show();
            }
        });
        //all tr elements are hidden
        if(tableRowsClass.children(':visible').length == 0)
        {
            tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
        }
    });
});
</script>