<% @title = "HMS Events" %>
<div class="row">
	<aside class="span9">
	  	<table class="table table-condensed">
		    <thead>
		        <tr>
		            <th>Date</th>
		            <th>Time</th>
		            <th>Listing</th>
		        </tr>
		    </thead>
		    <tbody>
		        <% @events.each do |event| %>
		        	<% if check(event) %>
			        	<tr>		
				            <td><font color='#9e9e9e'><%= event.start_date.strftime("%A, %b %e") %></font></td>
				            <td><font color='#9e9e9e'><%= event.start_time.strftime("%l:%M %P") %> - <%= event.end_time.strftime("%l:%M %P") %></font></td>
				            <td><%= link_to event.tag, event_path(event), {:style=>'color:#9e9e9e'}%></td>
				        </tr>
				    <% else %>
				    	<tr>		 
				            <td><%= event.start_date.strftime("%A, %b %e") %></td>
				            <td><%= event.start_time.strftime("%l:%M %P") %> - <%= event.end_time.strftime("%l:%M %P") %></td>
				            <td><%= link_to event.tag, event_path(event) %></td>
				        </tr>
				    <% end %>
		        <% end %>
		    </tbody>
		</table>
  	</aside>
</div>