<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=298588743639726&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% @title = @event.tag %>

<div class="container">    
  <div id="loginbox" style="margin-left:2%; margin-right:2%; margin-top:10px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
    <div class="panel panel-info">

      <div class="panel-heading">
        <div class="panel-title"><%= @event.tag %></div>
      </div>

      <div style="padding-top:30px" class="panel-body">
        <p><i class="icon-calendar"></i> <%= @event.start_date.strftime("%A, %b %e") %></p>
        <p><i class="icon-time"></i> <%= @event.start_time.strftime("%l:%M %P") %> - <%= @event.end_time.strftime("%l:%M %P") %></p>
        <p><i class="icon-map-marker"></i> <%= @event.location %></p>
        <p><i class="icon-info-sign"></i> <%= simple_format_mod(@event.content)%></p>
        <p id="post">Posted by <%= link_to User.find(@event.user_id).name, user_path(User.find(@event.user_id)) %></p>
        <div class="fb-like" data-href=<%= request.original_url %> data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
      </div>
    </div>
  </div>
</div>